  <div class = 'content'>
       <div class = "text">
        <h3>Stats Student | Utilizing Data to Better Understand the World</h3>
        <p>
            <br>
            Undergraduate student at Massey University, aspiring data analyst and complete stats dork.
            Passionate about data, the stories it tells, and how it can be used to explore and solve real
            world issues.
            <br>
            <br>
        </p>
        <h4>What I've Been Up To:</h4>
       </div> 
       <div class = "images">
        <iframe src="https://giphy.com/embed/HTjcWZwMtHpyhuCGKZ" width="300" height="300" frameBorder="0"></iframe>
       </div>
    </div>