<div id = "projects">
           <button>prev</button>
            <div class = "project">
                <div class = 'projectStuff'>
                    <h4 class = "title">Project #1</h4>
                    <h3 class = "descript"></h3>
                </div>
                <div class = 'projectPicture'>
                    <img src = 'karsten-winegeart-X2reytV0chs-unsplash.jpg' height = auto width = 100%/>
                </div>
            </div>
            <button>next</button>
            <script src = "index.js"></script>
       </div>