<div id = "projects">
            <div class = "project">
                 <div class = 'projectPicture'>
                    <img src = 'imgs\curtis-potvin-1-Jkz9zwVlc-unsplash.jpg' />
                </div>
                <div class = 'projectStuff'>
                    <h2 class = "title">From Public Enemy to Travis Scott</h2>
                    <p class = "descript">An examination of the evolution of Hip-Hop from 1989-2018 using sentiment analysis and topic modeling</p>
                </div>
               
            </div>

            <div class = "project">
                 <div class = 'projectPicture'>
                    <img src = 'imgs\curtis-potvin-1-Jkz9zwVlc-unsplash.jpg' />
                </div>
                <div class = 'projectStuff'>
                    <h2 class = "title">League standings calculator</h2>
                    <p class = "descript">Using linear algebra and webscrapping to evaluate relative strength of teams</p>
                </div>
               
            </div>

            <div class = "project">
                 <div class = 'projectPicture'>
                    <img src = 'imgs\curtis-potvin-1-Jkz9zwVlc-unsplash.jpg' />
                </div>
                <div class = 'projectStuff'>
                    <h2 class = "title">Linear Regression Project</h2>
                    <p class = "descript">I dont know something to do with lines</p>
                </div>
               
            </div>
            <script src = "index.js"></script>
       </div>