<div id = "projects">
           <button>prev</button>
            <div class = "project">
                <div class = 'projectStuff'>
                    <h2 class = "title">From Public Enemy to Travis Scott</h2>
                    <h3 class = "descript">An examination of the evolution of Hip-Hop from 1989-2018 using sentiment analysis and topic modeling</h3>
                </div>
                <div class = 'projectPicture'>
                    <h1>FILLER|FILLER|FILLER</h1>
              <!--      <img src = 'karsten-winegeart-X2reytV0chs-unsplash.jpg' height = auto width = auto/>-->
                </div>
            </div>
            <button>next</button>
            <script src = "index.js"></script>
       </div>