*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%
}
body{
    height:100%;
    background-color: #FFFDF7;
    z-index: 0;
    color: #192928;
}
.header{
    height:15%;
    width:100%;
    background-color: #335352;
    display:flex;
    align-items: center;
    justify-content: center;
    /*border: rgb(135, 197, 187) solid 2px;*/
    z-index: 3;
    color:#92BCBF; 
}
.header-frame{
    float:left;
    width: 50%;
}
.header-frame h1{
    font-size: 50px;
    font-family: Arial;
    padding: 10%;
}
nav{
    height:15%;
    width:50%;
    float: right;
    position: relative;
    margin-left: auto;
    
}
nav ul{
    display: flex;
    justify-content: flex-start;
    flex:auto;
    list-style-type: none;
    align-items: center;
}
nav li{
    font-size: 40px;
    padding: 10px;
    font-family: Arial;
}
nav a{
    color:#92BCBF;
    text-decoration: none;
}

.content{
    height: 60%;
    width: 80%;
    z-index: 2;
    position:absolute;
    left: 100px;
    background-color: #FFFDF7;
    padding: 10px;
    
}
.text{
    float: left;
    width: 50%;
    height:40%;
    font-size: 25px;
    font-family: arial;
}
.images{
    float: right;
    width: 50%;
    display: flex;
    justify-content: center;

}
#projects{
    height: 60%;
    width: 50%;
    bottom: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    
}
.project{
    border: rgba(0, 0, 0, 0.24) solid 1px;
    width:20%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title{
    width:150px;
    height:150px;
    display: 'inline';
}
.descript{
    bottom: 0px;
}
.footer{
    background-color: #7CB898;
    height: 20%;
    width: 100%;
    position:fixed;
    bottom: 0px;
    z-index: 1;
} 