*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height:100%;
    background-color: #FFFDF7;
    z-index: 0;
    color: #192928;
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 40% 40% 5%;
    grid-row-gap: 10px;

}
.header{
    grid-column: 1/ span 4;
    grid-row: 1/2;
    background-color: #335352;
    display:flex;
    align-items: center;
    justify-content: center;
    /*border: rgb(135, 197, 187) solid 2px;*/
    z-index: 3;
}
.header-frame{
    float:left;
    width: 50%;
}
.header-frame a{
    font-size: 50px;
    font-family: Arial;
    padding: 10%;
    text-decoration: none;
    color:#92BCBF; 
}
nav{
    height:15%;
    width:50%;
    float: right;
    position: relative;
    margin-left: auto;
    
}
nav ul{
    display: flex;
    justify-content: flex-start;
    flex:auto;
    list-style-type: none;
    align-items: center;
}
nav li{
    font-size: 40px;
    padding: 10px;
    font-family: Arial;
}
nav a{
    color:#92BCBF;
    text-decoration: none;
}
.contentOuter{
    grid-column: 2;
    grid-row: 2;
}
#contentInner{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.text{
    grid-column: 1;
    grid-row: 1;
    font-size: 25px;
    font-family: arial;
}
.images{
    grid-column: 2;
    grid-row: 1;
}
#projects{
    grid-column: 2/3;
    grid-row: 3/4;
    bottom: 0px;
    display: flex;
    justify-content: center;
    
}
.project{
    border: rgba(0, 0, 0, 0.24) solid 1px;
    width:20%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title{
    width:150px;
    height:150px;
    display: 'inline';
}
.descript{
    bottom: 0px;
}
.footer{
    background-color: #7CB898;
    grid-column: 1/span 4;
    grid-row: 4/5;
    z-index: 1;
} 