.header
    grid-column: 1/4
    grid-row: 1
    background-color: #303030
    display: flex
    align-items: center
    justify-content: center

.header-frame
    float: left
    width: 50%
    a
        font-size: 4vw
        font-family: Arial
        padding: 10%
        text-decoration: none
        color: white

nav
    height: 15%
    width: 50%
    float: right
    position: relative
    margin-left: auto
    ul
        display: flex
        justify-content: flex-start
        flex: auto
        list-style-type: none
        align-items: center
    li
        font-size: 3vw
        padding: 10px
        font-family: Arial
    a
        color: white
        text-decoration: none
