*
    margin: 0
    padding: 0

html
    height: 100%

body
    height: 100%
    background-color: #FFFDF7
    color: #192928
    
.container
    display: grid
    height: 100%
    grid-template-columns: 10% 80% 10%
    grid-template-rows: 15% 40% 35% 10%
    grid-row-gap: 2px


