*
    margin: 0
    padding: 0

html
    height: 100%

body
    height: 100%
    background-color: #FFFDF7
    z-index: 0
    color: #192928
    display: grid
    grid-template-columns: 20% 60% 20%
    grid-template-rows: 15% 40% 35% 10%
    grid-row-gap: 10px



