.main
    width: 100%
    display: flex
    padding: 10px

.main1
    width: 50%
    flex:1

.main2
    width: 50%

.text
    font-family: arial
    width: 60%
    color: black

    h1
        font-size: 5vw
    p
        font-size: 5vw




