<header>
    <nav>
            <ul>
                <li>
                    <a href = "index.html">
                        HOME
                    </a>
                </li>
                <li>
                    <a>
                        ABOUT
                    </a>
                </li>
                <li>
                    <a>
                        CONTACT
                    </a>
                </li>
                <li>
                    <a>
                        PROJECTS
                    </a>
                </li>
            </ul>
           </nav>
</header>