<h2>
 Outline
</h2>
<p>
    Hip hop has evolved significantly over the past 5 decades. What began as basic rhymes spoken 
    over extended funk breaks as developed into a sonically and thematically diverse and rich genre
    know for sophisticated wordplay and lyricism, cutting edge social and political 
    commentary and progressive instrumentation.
    </br>
    Lyricism has always been a corner stone of hip-hop culture. The goal of this project is to try
    and see how lyrical content has changed over time and what that tells us about trends in 
    african american culture and general pop-culture. Especially of interest to me is how lyrical 
    content has changed as hip-hop has grown in popularity and influence. Has the growing popularity
    of hip-hop led to more watered down messaging. Is the blatant misogny, homophobia and materialism
    rap has become notorious for a product of it becoming mainstream, or have these themes been present since the very beginning. 

</p>